*{
	box-sizing:border-box;	
}
html{
	font-size: 20px;
}
body{
	padding:0px;
	margin:0px;
}

/*-----------------fixed------------------*/
#header {
	display:grid;
	grid-template-columns: auto auto;

	position:fixed;
	top:0px;
	left:0;
	right:0;
	height:50px;

	padding:0px;

	border-style: none;
	border-width: 10px;
	border-color: rgb(13, 0, 255);
}


/*-----------------fixed------------------*/

/*---------------------flex layers----------------------*/
#flex_layer_01 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	padding-left: 0px;

	border-style: none;
	border-width: 10px;
	border-color: red;

	width: 100%;
	min-height: 100vh;

	background-color: rgb(58, 58, 58);
}

#flex_layer_01 > p{
	color:white;

	font-size:50px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	padding:100px 100px;
}
	
/*---------------------flex layers----------------------*/



/* -------------------nav bar---------------------- */
ul {
	border-style:none;
	border-width:10px;
	border-color:rgb(8, 0, 255);
	height:100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  
  }
  
  li {
	display:block;
	float: left;
	height:100px;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 0px;
	height:100px;
  }
  
  li a:hover {
	background-color: #111;
  }
  
  #right_ul {
	display:flex;
	flex-direction: row-reverse;
  }
  
  /* -------------------nav bar---------------------- */




/*---------------------responsive----------------------*/
@media only screen and (max-width: 1000px) {
	#flex_layer_01 {
		padding-left: 0px;
	}
	#left_panel{
		visibility: hidden;
	}
	#right_panel{
		width:0px;
		flex-grow:0;
	}
  }
/*---------------------responsive----------------------*/





