*{
	box-sizing:border-box;	
}
html{
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
}
body{
	padding:0px;
	margin:0px;
}


/* -------------------headings---------------------- */
h1 {
	font-size: 2em;
	font-weight: bold;
	padding:0px;
	padding-bottom: 10px;
	margin: 0px;
  }
  h2 {
	font-size: 1.6em;
	font-weight: bold;
	padding:0px;
	padding-bottom: 10px;
	margin: 0px;
  }
  h3 {
	font-size: 1.2em;
	font-weight: bold;
	padding:0px;
	padding-bottom: 10px;
	margin: 0px;
  }
  
  p {
	line-height: 1.9;
  }

  
  /* -------------------headings---------------------- */


/*-----------------fixed------------------*/
#header {
	display:grid;
	grid-template-columns: auto auto;

	position:fixed;
	top:0px;
	left:0;
	right:0;
	height:50px;

	padding:0px;

	border-style: none;
	border-width: 10px;
	border-color: rgb(13, 0, 255);
}

#left_panel {
	position:fixed;
	top:50px;
	left:0;
	bottom:0;
	width:190px;

	border-style: none;
	border-width: 10px;
	border-color: rgb(0, 149, 255);

	background-color: rgb(231, 231, 231);

	overflow:scroll;
}

/*-----------------fixed------------------*/

/*---------------------flex layers----------------------*/
#flex_layer_01 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	padding-left: 170px;

	border-style: none;
	border-width: 10px;
	border-color: red;

	width: 100%;
	min-height: 100vh;

	background-color: rgb(255, 255, 255);
}

	#flex_layer_02{
		display:flex;
		flex-direction: column;

		width:100%;
		min-height:100vh;

		margin-top: 50px;

		border-style: none;
		border-width: 10px;
		border-color: rgb(0, 255, 38);
	}
		#flex_layer_03{
			display:flex;
			flex-direction:row ;



			width:100%;
			min-height:100vh;

			border-style: none;
			border-width: 10px;
			border-color: rgb(0, 81, 255);

			background-color: rgb(157, 157, 225);
		}
			#flex_layer_04{
				display:flex;
				flex-direction:column;
				flex-grow: 8;

				
				align-items: center;

				width:auto;
				height:auto;
				min-height:100vh;

				border-style: none;
				border-width: 10px;
				border-color: rgb(0, 81, 255);

				background-color: rgba(255, 255, 255, 0.815);
			}
				.content_block{
					display:flex;
					flex-direction: column;
					flex-wrap: wrap;

					width:900px;
					height:auto;

					padding:50px;

					border-style: none;
					border-width: 10px;
					border-color: rgb(65, 65, 65);
				}
				.content_block2{
					display:flex;
					flex-direction: row;
					flex-wrap: wrap;

					width:900px;
					height:auto;

					padding:50px;

					border-style: none;
					border-width: 10px;
					border-color: rgb(65, 65, 65);
				}
				.code_block{
					border-style:solid;
					border-width: 2px 2px 2px 2px;
					border-color:rgb(108, 104, 104);

					background-color: rgb(255, 255, 255);
					padding: 15px 15px 15px 15px;

					border-radius:6px;
					border-right-color: rgba(255, 113, 113, 0.701);
					border-left-color: rgba(119, 255, 101, 0.701);
					border-bottom-color: rgba(179, 102, 255, 0.701);
					border-top-color: rgba(118, 87, 255, 0.815);
					

					margin:15px;

					font-size: 0.8em;
					font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
				}

				.sample_block{
					display:flex;
					flex-direction: column;

					border-style: solid;
					border-width: 10px;
					border-color: rgb(65, 65, 65);

					padding:50px;
					margin-bottom:30px;

				}

			#right_panel{
				display:flex;
				flex-direction:row;
				flex-grow: 1;

				width:100px;
				height:auto;
				min-height:100vh;

				border-style: none;
				border-width: 10px;
				border-color: rgb(0, 81, 255);

				background-color: rgb(76, 76, 76);
			}

		#footer{
			height:300px;
			width:100%;

			border-style: none;
			border-width: 10px;
			border-color: rgb(221, 0, 255);

			background-color: #333;
		}

/*---------------------flex layers----------------------*/



/* -------------------nav bar---------------------- */
ul {
	border-style:none;
	border-width:10px;
	border-color:rgb(8, 0, 255);
	height:100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  
  }
  
  li {
	display:block;
	float: left;
	height:100px;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: solid;
	border-radius: 0px;
	height:100px;
  }
  
  li a:hover {
	background-color: #111;
  }
  
  #right_ul {
	display:flex;
	flex-direction: row-reverse;
  }
  
  /* -------------------nav bar---------------------- */

/*---------------------table----------------------*/
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin:20px;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }
  /*---------------------table----------------------*/

  /* -------------------vertical menu---------------------- */
#vertical-menu {
	overflow-y: auto;
  }
  
  #vertical-menu a {
	background-color: #ffffff;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
  }
  
  #vertical-menu a:hover {
	background-color: #ccc;
  }
  
  #vertical-menu a.active {
	background-color: #04AA6D;
	
  }
  /* -------------------vertical menu---------------------- */

  /* -------------------inputs---------------------- */
input[type=text], select {
	width: 150px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: solid;
	border-radius: 4px;
	cursor: pointer;
  }
  input[type=submit]:hover {
	width:fit-content;
	padding: 14px 16px;
  
	min-width: 20vh;
	max-width: 100%;
  
	margin: 8px 0;
  }
  
  input[type=button] {
	width:fit-content;
	padding: 14px 16px;
  
	min-width: 20vh;
	max-width: 100%;
	
	border-radius:5px;
	
	margin: 8px 0;
  }
  textarea{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  /* -------------------inputs---------------------- */


/*---------------------responsive----------------------*/
@media only screen and (max-width: 1000px) {
	#flex_layer_01 {
		padding-left: 0px;
	}
	#left_panel{
		visibility: hidden;
	}
	#right_panel{
		width:0px;
		flex-grow:0;
	}
	#content_block{
		width:auto;
	}
  }
/*---------------------responsive----------------------*/





